.vs/

export.*
/export1.*
# Note: All the Python related line items are moved to its own level i.e. Python/.gitignore

# test for my global.config file if remains locally when switching branches
global.config